# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.idea
.vscode
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

app/logs/
.logs/
.logs
logs/